$primary: #8B1B59 !default;
$secondary: #00807A !default;
$tertiary: #D6DBDF !default;
$body-bg: #f9fbfd !default;
$badge-color: black !default;

@import "~bootstrap/scss/bootstrap";

#body-wrapper {
  min-height: 100%;
}

#main {
  overflow: auto;
}

.application-logo-navbar {
  height: 40px;
}
